body {
  background-color: white;
}

.main-page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: auto;
  width: 96.5vw;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.nav-item {
  display: flex;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
  font-family: "Outfit", sans-serif;
}

.nav-link:hover {
  color: #ff6f61;
}

.active {
  color: #ff6f61;
  font-weight: bolder;
  text-decoration: underline;
}

.main-logo {
  margin-top: 80px;
  width: 220px;
  height: auto;
}

.title {
  font-family: "Londrina Solid", cursive;
  color: black;
  font-size: 2.2rem;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 0;
}

.paragraph-text {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  width: 60%;
}

.owner-img {
  width: 250px;
  height: auto;
}

@media (min-width: 280px) {
  .navbar {
    width: 220px;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .nav-item {
    padding: 5px;
  }

  .main-logo {
    margin-top: 25px;
    width: 150px;
  }

  .title {
    font-size: 1.4rem;
  }

  .paragraph-text {
    width: 85%;
    font-size: 1rem;
  }

  .owner-img {
    width: 85%;
  }
}

@media (min-width: 350px) {
  .navbar {
    width: 300px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .nav-item {
    padding: 5px;
  }

  .main-logo {
    width: 180px;
  }

  .title {
    font-size: 1.7rem;
  }

  .paragraph-text {
    width: 85%;
    font-size: 1rem;
  }

  .owner-img {
    width: 85%;
  }
}

@media (min-width: 390px) {
  .navbar {
    width: 320px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .main-logo {
    width: 200px;
  }

  .title {
    font-size: 1.7rem;
  }

  .paragraph-text {
    width: 85%;
    font-size: 1rem;
  }

  .owner-img {
    width: 85%;
  }
}

/* Small Devices*/
@media (min-width: 576px) {
  .navbar {
    width: 350px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .main-logo {
    width: 200px;
  }

  .title {
    font-size: 1.8rem;
  }

  .paragraph-text {
    width: 55%;
    font-size: 1rem;
  }

  .owner-img {
    width: 55%;
  }
}
/* Medium Devices*/
@media (min-width: 768px) {
  .navbar {
    width: 350px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .main-logo {
    width: 210px;
  }

  .title {
    font-size: 2.2rem;
  }

  .paragraph-text {
    width: 55%;
    font-size: 1.2rem;
  }

  .owner-img {
    width: 55%;
  }
}
/* Large Devices*/
@media (min-width: 992px) {
  .navbar {
    width: 550px;
    margin-top: 25px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 240px;
  }

  .title {
    font-size: 2.7rem;
  }

  .paragraph-text {
    width: 60%;
    font-size: 1.2rem;
  }

  .owner-img {
    width: 60%;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .navbar {
    width: 550px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 270px;
  }

  .title {
    font-size: 3rem;
  }

  .paragraph-text {
    width: 60%;
    font-size: 1.2rem;
  }

  .owner-img {
    width: 60%;
  }
}

/* X-Large desktop */
@media (min-width: 1600px) {
  .navbar {
    width: 750px;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  .main-logo {
    width: 330px;
  }

  .title {
    font-size: 4rem;
  }

  .paragraph-text {
    width: 60%;
    font-size: 1.5rem;
  }

  .owner-img {
    width: 60%;
  }
}

@media (min-width: 2000px) {
  .navbar {
    width: 750px;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .main-logo {
    width: 350px;
  }

  .title {
    font-size: 4.5rem;
  }

  .paragraph-text {
    width: 40%;
  }

  .owner-img {
    width: 40%;
  }
}
