body {
  background-color: white;
  width: 96.5vw;
}

.main-page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.nav-item {
  display: flex;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
  font-family: "Outfit", sans-serif;
}

.nav-link:hover {
  color: #ff6f61;
}

.active {
  color: #ff6f61;
  font-weight: bolder;
  text-decoration: underline;
}

.main-logo {
  margin-top: 80px;
  width: 220px;
  height: auto;
}

.title {
  font-family: "Londrina Solid", cursive;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 0;
}

/*
font-family: "Londrina Solid", cursive;
font-family: "Outfit", sans-serif;
color: #ff6f61  living coral
color: #d4edec  limpet shell
*/

.tabs {
  margin-top: -50px;
  width: 40%;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-top: -1px;
  border-color: black;
  border-radius: 0px;
  padding: 0;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em 0px 1em 0px;
  color: black;
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  /* font-weight: bold; */
  cursor: pointer;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.15s;
}
.tab-content {
  display: flex;
  flex-direction: column;
  max-height: 0;
  background: white;
  transition: all 0.15s;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}
input:checked ~ .tab-content {
  max-height: fit-content;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.list-item {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  padding-bottom: 1.5%;
}

.list-name {
  display: flex;
  justify-content: space-between;
}
.list-detail {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.item-name {
  text-align: left;
}

.item-size {
  text-align: right;
}

@media (min-width: 280px) {
  .navbar {
    width: 220px;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .nav-item {
    padding: 5px;
  }

  .main-logo {
    margin-top: 25px;
    width: 150px;
  }

  .title {
    font-size: 1.4rem;
  }

  .tabs {
    margin-top: -10px;
    width: 90%;
  }

  .tab-label {
    font-size: 1rem;
  }

  .list-item {
    font-size: 0.7rem;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (min-width: 350px) {
  .navbar {
    width: 300px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .nav-item {
    padding: 5px;
  }

  .main-logo {
    width: 180px;
  }

  .title {
    font-size: 1.7rem;
  }

  .tabs {
    margin-top: -10px;
    width: 90%;
  }

  .tab-label {
    font-size: 1rem;
  }

  .list-item {
    font-size: 0.7rem;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (min-width: 390px) {
  .navbar {
    width: 320px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .main-logo {
    width: 200px;
  }

  .title {
    font-size: 1.7rem;
  }

  .tabs {
    margin-top: -10px;
    width: 85%;
  }

  .tab-label {
    font-size: 1rem;
  }

  .list-item {
    font-size: 0.8rem;
  }
}

/* Small Devices*/
@media (min-width: 576px) {
  .navbar {
    width: 350px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .main-logo {
    width: 200px;
  }

  .title {
    font-size: 1.8rem;
  }

  .tabs {
    margin-top: -10px;
    width: 80%;
  }

  .tab-label {
    font-size: 1rem;
  }

  .list-item {
    font-size: 1rem;
  }
}
/* Medium Devices*/
@media (min-width: 768px) {
  .navbar {
    width: 350px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .main-logo {
    width: 210px;
  }

  .title {
    font-size: 2.2rem;
  }

  .tabs {
    margin-top: -10px;
    width: 40%;
  }

  .tab-label {
    font-size: 0.9rem;
  }

  .list-item {
    font-size: 0.7rem;
  }
}
/* Large Devices*/
@media (min-width: 992px) {
  .navbar {
    width: 550px;
    margin-top: 25px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 240px;
  }

  .title {
    font-size: 2.7rem;
  }

  .tabs {
    margin-top: -10px;
    width: 40%;
  }

  .tab-label {
    font-size: 1.1rem;
  }

  .list-item {
    font-size: 0.9rem;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .navbar {
    width: 550px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 270px;
  }

  .title {
    font-size: 3rem;
  }

  .tabs {
    margin-top: -20px;
    width: 40%;
  }

  .tab-label {
    font-size: 1.2rem;
  }

  .list-item {
    font-size: 1rem;
  }
}

/* X-Large desktop */
@media (min-width: 1600px) {
  .navbar {
    width: 750px;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  .main-logo {
    width: 330px;
  }

  .title {
    font-size: 4rem;
  }

  .tab-label {
    font-size: 1.5rem;
  }

  .list-item {
    font-size: 1.2rem;
  }
}

@media (min-width: 2000px) {
  .navbar {
    width: 750px;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .main-logo {
    width: 350px;
  }

  .title {
    font-size: 4.5rem;
  }

  .tab-label {
    font-size: 1.8rem;
  }

  .list-item {
    font-size: 1.5rem;
  }
}
