body {
  background-color: white;
  width: 96.5vw;
}

.main-page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.nav-item {
  display: flex;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 0.7rem;
  font-family: "Outfit", sans-serif;
}

.nav-link:hover {
  color: #ff6f61;
}

.active {
  color: #ff6f61;
  font-weight: bolder;
  text-decoration: underline;
}

.main-logo {
  margin-top: 80px;
  width: 220px;
  height: auto;
}

.title {
  font-family: "Londrina Solid", cursive;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 0;
}

.event-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.event-item {
  display: flex;
  justify-content: space-between;
  font-family: "Outfit", sans-serif;
  font-weight: 300;
  padding-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.date-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.date-month {
  font-size: 1rem;
}

.date-day {
  font-size: 1.5rem;
}

.event-name {
  font-size: 1.3rem;
  padding-left: 1rem;
  align-self: center;
  text-align: center;
}

.hide {
  display: none;
}

@media (min-width: 280px) {
  .navbar {
    width: 220px;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .nav-item {
    padding: 5px;
  }

  .main-logo {
    margin-top: 25px;
    width: 150px;
  }

  .title {
    font-size: 1.4rem;
  }

  .event-container {
    width: 80%;
  }

  .date-month {
    font-size: 1rem;
  }

  .date-day {
    font-size: 1.5rem;
  }

  .event-name {
    font-size: 1.1rem;
  }
}

@media (min-width: 350px) {
  .navbar {
    width: 300px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .nav-item {
    padding: 5px;
  }

  .main-logo {
    width: 180px;
  }

  .title {
    font-size: 1.7rem;
  }

  .event-container {
    width: 80%;
  }

  .date-month {
    font-size: 1.1rem;
  }

  .date-day {
    font-size: 1.6rem;
  }

  .event-name {
    font-size: 1.6rem;
  }
}

@media (min-width: 390px) {
  .navbar {
    width: 320px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .main-logo {
    width: 200px;
  }

  .title {
    font-size: 1.7rem;
  }

  .event-container {
    width: 80%;
  }

  .date-month {
    font-size: 1.1rem;
  }

  .date-day {
    font-size: 1.6rem;
  }

  .event-name {
    font-size: 1.6rem;
  }
}

/* Small Devices*/
@media (min-width: 576px) {
  .navbar {
    width: 350px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .main-logo {
    width: 200px;
  }

  .title {
    font-size: 1.8rem;
  }

  .event-container {
    width: 60%;
  }

  .date-month {
    font-size: 1.2rem;
  }

  .date-day {
    font-size: 1.7rem;
  }

  .event-name {
    font-size: 1.7rem;
  }
}
/* Medium Devices*/
@media (min-width: 768px) {
  .navbar {
    width: 350px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .main-logo {
    width: 210px;
  }

  .title {
    font-size: 2.2rem;
  }

  .event-container {
    width: 50%;
  }

  .date-month {
    font-size: 1.2rem;
  }

  .date-day {
    font-size: 1.7rem;
  }

  .event-name {
    font-size: 1.7rem;
  }
}
/* Large Devices*/
@media (min-width: 992px) {
  .navbar {
    width: 550px;
    margin-top: 25px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 240px;
  }

  .title {
    font-size: 2.7rem;
  }

  .event-container {
    width: 30%;
  }

  .date-month {
    font-size: 1.2rem;
  }

  .date-day {
    font-size: 1.7rem;
  }

  .event-name {
    font-size: 1.7rem;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .navbar {
    width: 550px;
    margin-top: 20px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 270px;
  }

  .title {
    font-size: 3rem;
  }

  .event-container {
    width: 30%;
  }

  .date-month {
    font-size: 1.3rem;
  }

  .date-day {
    font-size: 1.8rem;
  }

  .event-name {
    font-size: 1.8rem;
  }
}

/* X-Large desktop */
@media (min-width: 1600px) {
  .navbar {
    width: 750px;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  .main-logo {
    width: 330px;
  }

  .title {
    font-size: 4rem;
  }

  .event-container {
    width: 25%;
  }

  .date-month {
    font-size: 1.3rem;
  }

  .date-day {
    font-size: 1.9rem;
  }

  .event-name {
    font-size: 1.9rem;
  }
}

@media (min-width: 2000px) {
  .navbar {
    width: 750px;
  }

  .nav-link {
    font-size: 1.6rem;
  }

  .main-logo {
    width: 350px;
  }

  .title {
    font-size: 4.5rem;
  }

  .event-container {
    width: 20%;
  }

  .date-month {
    font-size: 1.3rem;
  }

  .date-day {
    font-size: 2rem;
  }

  .event-name {
    font-size: 2rem;
  }
}
