body {
  background-color: black;
  width: 96.5vw;
}

.main-page {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.nav-item {
  display: flex;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 0.7rem;
  font-family: 'Outfit', sans-serif;
}

.nav-link:hover {
  color: #ff6f61;
}

.active {
  color: #ff6f61;
  font-weight: bolder;
  text-decoration: underline;
}

.main-logo {
  margin-top: 20px;
  width: 250px;
  height: auto;
}

.title {
  font-family: 'Londrina Solid', cursive;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 0;
}

.information-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* padding-top: 5%; */
}

.header-text {
  font-family: 'Londrina Solid', cursive;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.social-panel {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.social-icon {
  text-decoration: none;
  color: white;
  padding-left: 7%;
  padding-right: 7%;
  font-size: 2rem;
}

.fa:hover {
  color: #ff6f61;
}

/*
font-family: "Londrina Solid", cursive;
font-family: "Outfit", sans-serif;
color: #ff6f61  living coral
color: #d4edec  limpet shell

*/

@media (min-width: 280px) {
  .navbar {
    width: 220px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .title {
    font-size: 1.7rem;
  }
}

@media (min-width: 350px) {
  .navbar {
    width: 300px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .main-logo {
    width: 240px;
  }

  .header-text {
    font-size: 1.7rem;
  }

  .social-panel {
    width: 40%;
  }

  .social-icon {
    font-size: 2.3rem;
  }
}

@media (min-width: 390px) {
  .navbar {
    width: 320px;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .main-logo {
    width: 280px;
  }

  .header-text {
    font-size: 1.9rem;
  }

  .social-panel {
    width: 35%;
  }

  .social-icon {
    font-size: 2.5rem;
  }
}

/* Small Devices*/
@media (min-width: 576px) {
  .navbar {
    width: 350px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .main-logo {
    width: 280px;
  }

  .title {
    font-size: 1.8rem;
  }

  .header-text {
    font-size: 2rem;
  }

  .social-panel {
    width: 25%;
  }

  .social-icon {
    font-size: 2.5rem;
  }
}
/* Medium Devices*/
@media (min-width: 768px) {
  .navbar {
    width: 550px;
  }

  .nav-link {
    font-size: 1.7rem;
  }

  .main-logo {
    width: 410px;
  }

  .title {
    font-size: 2.2rem;
  }

  .header-text {
    font-size: 3rem;
  }

  .social-icon {
    font-size: 3.5rem;
  }
}
/* Large Devices*/
@media (min-width: 992px) {
  .main-page {
    height: 98vh;
  }

  .navbar {
    width: 550px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 340px;
  }

  .title {
    font-size: 2.7rem;
  }

  .information-panel {
    flex-direction: row;
    width: 80%;
    margin-left: 10%;
  }

  .header-text {
    font-size: 1.5rem;
  }

  .social-panel {
    width: 15%;
  }

  .social-icon {
    font-size: 2rem;
  }
}

/* Large desktop */
@media (min-width: 1200px) {
  .navbar {
    width: 550px;
  }

  .nav-link {
    font-size: 1.2rem;
  }

  .main-logo {
    width: 420px;
  }

  .title {
    font-size: 3rem;
  }

  .information-panel {
    width: 90%;
  }

  .header-text {
    font-size: 2rem;
  }

  .social-panel {
    width: 15%;
  }

  .social-icon {
    font-size: 2.5rem;
  }
}

/* X-Large desktop */
@media (min-width: 1600px) {
  .navbar {
    width: 750px;
  }

  .nav-link {
    font-size: 1.7rem;
  }

  .main-logo {
    width: 680px;
  }

  .title {
    font-size: 4rem;
  }

  .information-panel {
    width: 100%;
  }

  .header-text {
    font-size: 3.5rem;
  }

  .social-panel {
    width: 15%;
  }

  .social-icon {
    font-size: 5rem;
  }
}
